body{
    background-image: linear-gradient(to right, #ffb3da, white, #ffb3da);
}
.about{
    display:flex;
    color: #5a0430 ;
    font-weight: 550;
    font-family: 'Cookie';
    font-size: 45px;
    text-align: center;
    line-height: 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    max-width: 100%;
    border: 10px; 
}
